Projektvenv
*.sqbpro
SQL_API_Beispiel.py
Notebook.ipynb
config.py
__pycache__
Weather_Data.db
nextbike_data.db
weather_counter.json
.vscode
Weather_Data_2.db
nextbike_data_old.db
NextBikeData as CSV
*.html